body {
    text-align: center;
    margin: 0;
    padding: 0;
    cursor: default;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
}

.board td {
    width: 30px;
    height: 30px;
    text-align: center;
    transition: 0.5s;
    border: 1px solid black;
    cursor: pointer;
}

.board td.mine-hit {
    background-color: red;
    transition: 0.5s;
    cursor: not-allowed;
}

.board td.revealed {
    background-color: #dbdada;
    transition: 0.5s;
    cursor: not-allowed;
}

.difficulty-btns {
    margin-top: 10px;
}

footer {
    position: fixed;
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    border-top: 2px solid black;
    margin-top: 10px;
    padding: 10px;
}

.reset-btn,
.hint {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 10px;
}
